@model IEnumerable<Tracer.Models.Element>

@{
    ViewData["Title"] = "Index";
}

<h1>Biblioteczka</h1>

<p>
    <a asp-action="Create" asp-controller="Elements">Dodaj nową pozycje</a>
</p>
<div class="row">
    <form asp-action="Index" method="get">
        <div class="form-group">
            <label class="control-label">Wpisz tytuł:</label>
            <input class="form-control" type="text" name="SearchText" value="@ViewData["currentFilter"]" /> <br/>
            <input type="submit" value="Szukaj" class="btn btn-primary" />
            <a asp-action="Index">Wyczyść</a>
        </div>
    </form>
</div>
<br/><br/>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        <th>
            Akcje
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Elements" asp-route-id="@item.ElementId">Edytuj</a> |
                <a asp-action="Details" asp-controller="Elements" asp-route-id="@item.ElementId">Szczegóły</a> |
                <a asp-action="Delete" asp-controller="Elements" asp-route-id="@item.ElementId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
